<a href="https://colab.research.google.com/github/tomdaler/repository/blob/main/ML%20Projects/Wine%20Quality/5.XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
df['quality'] = df['quality']-3

In [10]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

scaled_features = df.copy()

col_names = ['fixed acidity','free sulfur dioxide','total sulfur dioxide','alcohol','pH','residual sugar']
features = scaled_features[col_names]
df_new = scale.fit_transform(features)

scaled_features[col_names] = df_new

In [11]:
scaled_features

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,-0.528360,0.700,0.00,-0.453218,0.076,-0.466193,-0.379133,0.99780,1.288643,0.56,-0.960246,2
1,-0.298547,0.880,0.00,0.043416,0.098,0.872638,0.624363,0.99680,-0.719933,0.68,-0.584777,2
2,-0.298547,0.760,0.04,-0.169427,0.092,-0.083669,0.229047,0.99700,-0.331177,0.65,-0.584777,2
3,1.654856,0.280,0.56,-0.453218,0.075,0.107592,0.411500,0.99800,-0.979104,0.58,-0.584777,3
4,-0.528360,0.700,0.00,-0.453218,0.076,-0.466193,-0.379133,0.99780,1.288643,0.56,-0.960246,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,-1.217796,0.600,0.08,-0.382271,0.090,1.542054,-0.075043,0.99490,0.899886,0.58,0.072294,2
1595,-1.390155,0.550,0.10,-0.240375,0.062,2.211469,0.137820,0.99512,1.353436,0.76,0.729364,3
1596,-1.160343,0.510,0.13,-0.169427,0.076,1.255161,-0.196679,0.99574,0.705508,0.75,0.541630,3
1597,-1.390155,0.645,0.12,-0.382271,0.075,1.542054,-0.075043,0.99547,1.677400,0.71,-0.209308,2
1598,-1.332702,0.310,0.47,0.752894,0.067,0.203223,-0.135861,0.99549,0.511130,0.66,0.541630,3

In [14]:
from sklearn.model_selection import train_test_split
X = scaled_features.drop(['quality'],axis=1)
Y = scaled_features['quality']

X=X.drop(['alcohol', 'sulphates','pH','density','total sulfur dioxide'], axis=1)

In [15]:
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [18]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.5037878787878788

In [19]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 50.38%

Gives me 50.38%